<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="Game"
		providerName="System.Data.SqlClient"
        connectionString="Data Source=211.206.225.142,31439;Initial Catalog=sj-dev-game-db;Integrated Security=False;User Id=devadmin;Password=xmrtnqlqjs@1001@ic;MultipleActiveResultSets=True"/>		 
  <add name="Log"
        providerName="System.Data.SqlClient"
        connectionString="Data Source=211.206.225.142,31439;Initial Catalog=sj-dev-log-db;Integrated Security=False;User Id=devadmin;Password=xmrtnqlqjs@1001@ic;MultipleActiveResultSets=True"/>		
</connectionStrings>

