<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.2.0" targetFramework="net451" />
  <package id="Dapper" version="1.50.2" targetFramework="net451" />
  <package id="Jil" version="2.15.0" targetFramework="net451" />
  <package id="MsgPack.Cli" version="0.8.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="NLog" version="4.4.4" targetFramework="net451" />
  <package id="protobuf-net" version="2.1.0" targetFramework="net451" />
  <package id="Sigil" version="4.7.0" targetFramework="net451" />
  <package id="StackExchange.Redis" version="1.2.1" targetFramework="net451" />
  <package id="StackExchange.Redis.Extensions.Core" version="2.1.0" targetFramework="net451" />
  <package id="StackExchange.Redis.Extensions.Jil" version="2.1.0" targetFramework="net451" />
  <package id="StackExchange.Redis.Extensions.MsgPack" version="2.1.0" targetFramework="net451" />
  <package id="StackExchange.Redis.Extensions.Newtonsoft" version="2.1.0" targetFramework="net451" />
  <package id="StackExchange.Redis.Extensions.Protobuf" version="2.1.0" targetFramework="net451" />
</packages>