<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- sagolboss : configSections은 최상단에 있어야 함. -->
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="redisCacheClient" type="StackExchange.Redis.Extensions.Core.Configuration.RedisCachingSectionHandler, StackExchange.Redis.Extensions.Core" />
  </configSections>
  <!-- sagolboss : runtime은 configSource를 사용 할 수 없다. -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="GameServerDLLs" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <redisCacheClient password="foobared" allowAdmin="true" ssl="false" connectTimeout="5000" database="0">
    <hosts>
      <add host="localhost" cachePort="6379" />
    </hosts>
  </redisCacheClient>
  <connectionStrings>
    <add name="InhaGame" providerName="System.Data.SqlClient" connectionString="Data Source=localhost, 1433;Initial Catalog=InhaGame;Integrated Security=False;User Id=sa;Password=1234;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings file="LocalDev.AppSettings.config" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.serviceModel>
    <!-- sagolboss : services를 configSource를 사용하려면 services 뿐만 아니라 behaviors, bindings 모두 configSource를 사용하여야 한다. -->
    <services>
      <service name="SJ.GameServer.Service.GameService.GameService">
        <endpoint address="http://localhost:10302/GameService.svc" behaviorConfiguration="webHttp" binding="webHttpBinding" contract="SJ.GameServer.Service.GameService.IGameService" />
      </service>        
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp automaticFormatSelectionEnabled="true" helpEnabled="true" defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Throttled">
          <serviceThrottling maxConcurrentCalls="40000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding maxBufferPoolSize="320000000" maxReceivedMessageSize="8000" />
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1000" />
    </connectionManagement>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>